{% include 'includes/header.html' %}
{% include 'includes/menu.html' %}
    <main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
            <div class="bg-white dark:bg-dark-card rounded-lg shadow-md p-6 mb-6">
                <h2 class="text-2xl font-bold mb-4">Prochain Workshop:</h2>
                <h3 class="text-xl font-semibold">{{ workshop.title }}</h3>
                <p class="mt-2">{{ workshop.description }}</p>
                <p class="mt-2"><strong>Intervenant:</strong> {{ workshop.prof }}</p>
                <p><strong>Date:</strong> {{ workshop.date }}</p>
                <p><strong>Taille du workshop:</strong> {{ workshop.max_pers }}</p>
                <a href="{{ workshop.lien }}" target="_blank" rel="noopener noreferrer" class="mt-4 inline-block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors">S'inscrire</a>
            </div>
            
            <div class="grid gap-6 md:grid-cols-2">
                <div class="bg-white dark:bg-dark-card rounded-lg shadow-md p-6">
                    <h2 class="text-2xl font-bold mb-4">CTF à venir:</h2>
                    <ul class="space-y-2">
                        {% for ctf in ctfs %}
                        <li class="bg-gray-100 dark:bg-gray-800 p-2 rounded">
                            <a href={{ctf.url}} target="_blank"><strong>{{ ctf.name }}</strong> - {{ ctf.date }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="bg-white dark:bg-dark-card rounded-lg shadow-md p-6">
                    <h2 class="text-2xl font-bold mb-4">Guests à venir:</h2>
                    <ul class="space-y-2">
                        {% for guest in guests %}
                        <li class="bg-gray-100 dark:bg-gray-800 p-2 rounded">
                            <strong>{{ guest.name }}</strong><br>
                            {{ guest.title }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>
</html>